# 🌐 Environment variables
.env

# 🐍 Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧪 Virtual environments
venv/
*venv/
.venv/
*.env/
ENV/
env/

# 🪟 Windows metadata
*.db
*:Zone.Identifier

# 📦 IDE folders
.vscode/
.idea/

# 📊 Ignore large CSV or data files
/backend/data/
/backend/FPA_FOD_20170508.sqlite
FPA_FOD_20170508.sqlite
